body {
    background-color: black;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.medium {
    height: 40vh;
}

.small {
    height: 30vh;
}

#containerDiv {
    display: flex;
}


.imgBtn {
    margin-top: 30px;
    cursor: pointer;
}

#loader {
    height: 10vh;
    display: none;
}